<mat-drawer-container class="subprocess-containerClass">
  <mat-drawer class="sidenav left-matdrawer col-md-2 col-sm-12"
    style="background-color: #464C59;padding: 0 ;min-width: 16.666667%;" position="start" mode=side disableClose=true
    opened="true">
    <div class="flex_container stack_vertical">
      <!-- header -->
      <header class="flex_item leftside_header">
        <p class="sidenav-header heading1">BCN :
          <span> {{bcnValue}} </span>
        </p>
      </header>
      <header class="flex_item leftside_header">
        <ng-container #spleftnavheader2></ng-container>
      </header>
    </div>
  </mat-drawer>

  <!--main Page Content-->
  <mat-drawer-content autosize style="background: rgb(226, 231, 237);
  margin-left: 322px;">
    <app-ivy-mbbody-page (unitData)="unitData($event)"></app-ivy-mbbody-page>
  </mat-drawer-content>
</mat-drawer-container>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple">
  <!-- <p style="font-size: 20px; color: white">Loading...</p> -->
</ngx-spinner>
<!-- MB Debug link code need to make changes in angular ui application
<mat-nav-list  class="body2" >
  <a mat-list-item 
      class="menu-list-item"  href="{{urlData }}" target="_blank" >
      <mat-icon class="routeIcon">description</mat-icon>
      MB Debug Page
    </a>
  </mat-nav-list> -->
<!-- let loginUserName=this.contextService.getDataByString("#userAccountInfo.PersonalDetails.USERID");
  this.urlData="http://localhost:4200?userName=" + loginUserName; -->