<mat-drawer-container class="subprocess-containerClass">
  <mat-drawer  class="sidenav left-matdrawer col-md-2 col-sm-12" style="background-color: #464C59;padding: 0 ;min-width: 16.666667%;" position="start"
    mode=side disableClose=true opened="true">
    <div class="flex_container stack_vertical">
      <!-- header -->
      <header class="flex_item leftside_header">
        <p class="sidenav-header heading1"
        >BCN : 
        <span> BCN411111339 </span>
      </p>
      </header>
      <header class="flex_item leftside_header">
        <ng-container #spleftnavheader2 ></ng-container>
      </header>
    </div>
  </mat-drawer>

  <!--main Page Content-->
  <mat-drawer-content
  autosize style = "background: rgb(226, 231, 237);
  margin-left: 282px;" >
    <app-ivy-mbbody-page></app-ivy-mbbody-page>
  </mat-drawer-content>
</mat-drawer-container>