.drop-down-select-full-width {
  display: flex;
  align-items: center;
  font-weight: bold;

  .textfield-container {
    width: 70%;
  }

  .textfield-container-50 {
    width: 50%;
  }
}

.flex-container-box {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;

  .textfield-container {
    width: 100%;
  }
}

.form-group-margin {
  margin-bottom: 10px !important;
}

.label-fault {
  margin-top: 3px;
  margin-right: 126px;
  width: 155px;
  color: #505050;

}

.dropdown-container {
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2) !important;
  padding: 10px;
  width: 30%;
  background-color: white;
}



.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: white;
  align-items: center;
  // padding: 0 24px;

  border-radius: inherit;
  position: relative;
}

.textfieldContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: white;
  align-items: center;
  // padding: 0 24px;

  // border-radius: inherit;
  position: relative;
}

.searchcriteris-text-full {


  input {
    width: 28%;
    padding: 10px;
    // font-family: regular;
  }
}

.add-expert-debug {
  padding-left: 100px;

  button:disabled {
    // color: white;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
    background-color: rgba(0, 0, 0, 0.12);
    padding: 10px;
    border: none !important;
    border-radius: 4px;
  }

  button:not(:disabled) {
    padding: 10px;
    border: none !important;
    background-color: #0180e5;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
  }
}

.page-panel {
  background: #e2e7ed;
  height: 81%;
  padding: 10px 20px;
  position: relative;
}

.greyish-black {
  color: "#505050";
}

.subtitle1-align-self {
  font-size: 14px;
  font-weight: bold;
  align-self: center;
  margin-top: 3px;
  margin-right: 126px;
  width: 155px;
  color: #505050;
}