body {
  // background-color: white !important;
  height: 100%;
  font-family: Lato !important;
}

/* You can add global styles to this file, and also import other style files */
.body2 {
  font-size: 13px;
  font-family: regular;
}

.mat-expansion-panel-header-description {
  flex-grow: 0 !important;
}

.ivy-questionaire-child-content-class {
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
  padding: 10px 5px;
}

.error-title {
  font-size: 18px;
  white-space: initial;
  color: red;
  font-weight: 700;
  margin-left: 22px !important;
}

.mat-button-toggle-group-appearance-standard {
  border: none;
}

.mat-button-toggle:nth-child(1) {
  white-space: nowrap;
  position: relative;


  .mat-button-toggle-button {
    border: 1px solid #a09d9d;
    border-left: 1px solid #a09d9d;
    border-top: 1px solid #a09d9d;
    border-bottom: 1px solid #a09d9d;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    .mat-button-toggle-label-content {
      line-height: 35px !important;
      font-size: 15px;
    }
  }
}

.bold-font {
  font-weight: 600;
}



.mat-button-toggle:nth-child(2) {
  white-space: nowrap;
  position: relative;

  .mat-button-toggle-button {
    border: 1px solid #a09d9d;
    border-right: 1px solid #a09d9d;
    border-top: 1px solid #a09d9d;
    border-bottom: 1px solid #a09d9d;
    border-left: 1px solid #a09d9d;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    .mat-button-toggle-label-content {
      line-height: 35px !important;
      font-size: 15px;
    }
  }
}
.mat-button-toggle:nth-child(3) {
  white-space: nowrap;
  position: relative;

  .mat-button-toggle-button {
    border: 1px solid #a09d9d;
    border-right: 1px solid #a09d9d;
    border-top: 1px solid #a09d9d;
    border-bottom: 1px solid #a09d9d;
    border-left: 1px solid #a09d9d;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    .mat-button-toggle-label-content {
      line-height: 35px !important;
      font-size: 15px;
    }
  }
}

.reset-button {
  border: 1px solid #2979ff;
  background-color: #2979ff;
  padding: 8px 15px;
  border-radius: 4px;
  color: white
}


.yellow-border-left {
  position: relative;

  &::before {
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
    z-index: 1;
  }
}

.mat-icon {
  color: #acadb1;
  height: 20px !important;
  width: 20px !important;
  margin-top: -10px;
}

.yellow-border-left::before {
  background-color: rgb(255, 206, 75, 1);
}

.yellow-border-left-collapse::before {
  background-color: rgb(255, 206, 75, 1);
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.mat-raised-button[disabled][disabled] {
  background-color: #a09d9d;
  cursor: pointer;
}

// .mat-raised-button[disabled][disabled] {
// background-color: #a09d9d !important;
// cursor: pointer;
// }


.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
}

.mat-expansion-panel .mat-expansion-panel-header>.mat-content {
  height: 100%;
  align-items: center;
}

.mat-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

.page-content {
  background: #e2e7ed;
  // height: 81%;
  overflow: auto;
  padding: 10px 20px;
  position: relative;
  width: 100%;

  .mat-card-content {
    padding-right: 35px;
  }

  .mat-card>:first-child,
  .mat-card-content>:first-child {
    border-radius: 4px;
  }
}

.mat-button-toggle-checked {
  background-color: #2979ff;
  color: white;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  background-color: #2979ff;
  color: white;
}

.ivy-questionaire-parent-panel-class {
  overflow: visible;
  padding-right: 35px;

  .mat-expansion-panel-body {
    background: white;
  }

  .mat-expansion-panel-content {
    border-top: 0.5px groove rgba(227, 230, 233, 0.15);
    // padding-top: 5px;
    // border-radius: 0px !important;
  }

  .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
  .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]),
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: white;
  }

  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header.mat-expanded:hover {
    background: white;
  }

  .mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    height: 55px !important;
    padding: 0 24px;
    font-family: Lato;
    margin-top: 10px;
    font-size: 15px;
    border-radius: inherit;
    position: relative;
  }
}

.task-panel-header-color-light-grey {
  background: rgb(243, 245, 246) !important;
}

.ivy-questionaire-child-panel-class {
  overflow: visible;

  .mat-expansion-panel-body {
    background: transparent;
    padding: 0 !important;
  }

  .mat-expansion-panel-content {
    border-top: 0.5px groove rgba(227, 230, 233, 0.15);
    // padding-top: 5px;
    // border-radius: 0px !important;
  }

  .mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px !important;
    padding: 0 24px;
    font-family: Lato;
    font-size: 15px;
    border-radius: inherit;
    position: relative;
  }
}